@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap");

.roomHeading {
  background-image: linear-gradient(
    to top,
    #a7a6cb 0%,
    #8989ba 52%,
    #8989ba 100%
  );
}

.scroll-y {
  overflow-y: scroll;
}

.bg-paper {
  background: #f5f5ef;
}

.zync {
  background: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  height: 100%;
  font-family: "Cairo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  background-size: 600% 600%;

  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
